
<body background="http://hdblackwallpaper.com/wallpaper/2015/07/white-wallpapers-103-high-resolution-wallpaper.jpg">
  <br>
  <br>
    <div class="container"   >
        <div align="center">
          <div >
            <br>
            <br>
            <br>
            <br>
            <br>
            <img src="../assets/logo.png" class="img-responsive" >
          </div>
      
      
        </div>
      
        <div align="center">
      
          <button type="button" class="btn btn-success btn-lg btn-responsive" routerLink="/login"> Login</button>
          <button type="button" class="btn btn-info btn-lg" routerLink="/register">Signup</button>
        </div>
      
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
        <br>
    </div>
  </body>
  
  
  