<br>
<br>
<br>

<div class="container">

     <!-- Modal -->
     <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">

        <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
              
            </div>
      <div class="modal-body">
          <h4 class="modal-title">Product Added</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)= "reload()" >Add Another Product</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
      </div>
    </div>

  </div>
</div>


  <div class="row">
    <div class="col-md-12 ">

      <div *ngIf="message && newCategory" class="row " >
        <div *ngIf="messageClass" >
          {{message}}
        </div>
      </div>


      <br>
      <br>



      <form [formGroup]="form"    (submit)="addCategoryFormSubmit()"  class="form-group">
        <div>
          <label for="category" >Product Name</label>
          <input formControlName="category" type="text" name="category" id="category"class="form-control" placeholder="e.g. DELL LED 32 inch">

          <label for="price" >Price</label>
          <input formControlName="price" type="text" name="price" id="price"class="form-control" placeholder="e.g. 123456">
          
          <label for="code" >Product Code</label>
          <input formControlName="code" type="text" name="code" id="code"class="form-control" placeholder="e.g.123456">
          
          <label for="categ" >Available Categories</label>
          <select id="categ" class="form-control" name="categ" formControlName="categ" [(ngModel)]="value" >
                          <option *ngFor=' let category of categories' value={{category}} >{{category}}</option>
           </select>
          
           <div >
           <label for="newcat">Product Category</label>
           <input type="text" formControlName="newcat" name="newcat" id="newcat"  class="form-control" placeholder="electronics" [(ngModel)]="value">
          </div>
          <label for="mart" >Mart</label>
          <select id="mart" class="form-control" name="mart" formControlName="mart">
            
                          <option value="imtiaz">IMTIAZ</option>
                          <option value="chase">CHASE</option>
                          <option value="chaseup">CHASE UP</option>
           </select>


    


          
          <label for="description" >Description</label>
          <input formControlName="description" type="text" name="description" id="description"class="form-control" placeholder="e.g. ... ">
        </div>
          <label >Upload Image</label>
          <input type="file" name="fileupload" value="fileupload" id="fileupload"> 
          
          
        
        <br>
        

        <button  type="submit" class="btn btn-success"   data-toggle="modal" data-target="#myModal" >Add</button>

        
      </form>


    </div>

  </div>
</div>
