<br>
<br>
<br>

<div class="container">

  <div class="row">
    <div class="col-md-12 ">

      <div *ngIf="message && newCategory" class="row " >
        <div *ngIf="messageClass" >
          {{message}}
        </div>
      </div>


      <br>
      <br>

      <!--<div  *ngIf="!newCategory">-->


        <!--<table class="table" >-->
          <!--<thead class="thead-light">-->
          <!--<tr>-->
            <!--<th scope="col">#</th>-->
            <!--<th scope="col">Category</th>-->

          <!--</tr>-->
          <!--</thead>-->
          <!--<tbody *ngFor="let category of categories ; let i = index">-->
          <!--<tr >-->
            <!--<th >{{i+1}} </th>-->
            <!--<td>{{category.name}}</td>-->
          <!--</tr>-->
          <!--</tbody>-->
        <!--</table>-->



      <!--</div>-->



      <form [formGroup]="form"    (submit)="addCategoryFormSubmit()"  class="form-group">
        <div>
          <label for="category" >Product Name</label>
          <input formControlName="category" type="text" name="category" id="category"class="form-control" placeholder="e.g. DELL LED 32 inch">

          <label for="price" >Price</label>
          <input formControlName="price" type="text" name="price" id="price"class="form-control" placeholder="e.g. 123456">
          
          <label for="code" >Product Code</label>
          <input formControlName="code" type="text" name="code" id="code"class="form-control" placeholder="e.g.123456">

          <!-- <label for="mart" >mart</label>
          <input formControlName="mart" type="text" name="mart" id="mart"class="form-control" placeholder="category name"> -->

          <label for="categ" >Category</label>
          <select id="categ" class="form-control" name="categ" formControlName="categ">
                          <option value="electronics">Electronics</option>
                          <option value="clothing">Clorhing</option>
                          <option value="grocery">Grocery</option>
           </select>

          <label for="mart" >Mart</label>
          <select id="mart" class="form-control" name="mart" formControlName="mart">
            
                          <option value="imtiaz">IMTIAZ</option>
                          <option value="chase">CHASE</option>
                          <option value="chaseup">CHASE UP</option>
           </select>


    


          
          <label for="description" >Description</label>
          <input formControlName="description" type="text" name="description" id="description"class="form-control" placeholder="e.g. ... ">
        </div>
          <label >Upload Image</label>
          <input type="file" name="fileupload" value="fileupload" id="fileupload"> 
          
          
        
        <br>
        

        <button  type="submit" class="btn btn-success"   >Add</button>

        
      </form>


     






    </div>

  </div>
</div>
