<div class="background">
    <div class="container">
      <div class="panel pricing-table">
        
        <div class="pricing-plan">
          <img src="../assets/st.jpg" alt="" class="pricing-img">
          <h2 class="pricing-header">Products</h2>
          <ul class="pricing-features">
            <li class="pricing-features-item" *ngFor='let category of categories'>{{category.name}}</li>
            
          </ul>
          <span class="pricing-price">Total</span>
         
        </div>
        <div class="pricing-plan">
            <img src="../assets/imtiaz.jpg" alt="" class="pricing-img">
            <h2 class="pricing-header">Imtiaz</h2>
            <ul class="pricing-features">
              <li class="pricing-features-item" *ngFor='let category of categories'>Rs.{{category.imtiazprice}}</li>
            </ul>
            <span class="pricing-price">Rs. {{imtiaztotal}}</span>
            
          </div>
          
        <div class="pricing-plan">
          <img src="../assets/chase.png" alt="" class="pricing-img">
          <h2 class="pricing-header">Chase</h2>
          <ul class="pricing-features">
              <li class="pricing-features-item" *ngFor='let category of categories'>Rs. {{category.chaseprice}}</li>
            
          </ul>
          <span class="pricing-price">Rs. {{chasetotal}}</span>
          
        </div>
        
        <div class="pricing-plan">
          <img src="../assets/chase-up.png" alt="" class="pricing-img">
          <h2 class="pricing-header">Chaseup</h2>
          <ul class="pricing-features">
              <li class="pricing-features-item" *ngFor='let category of categories'>Rs.{{category.chaseupprice}}</li>
          </ul>
          <span class="pricing-price">Rs.{{chaseuptotal}}</span>
          
        </div>
        
      </div>
    </div>
  </div>