
<br>
<div id="result"></div>


<div class="container">
    <div class="row"> 
        <div class="col-md-3"*ngFor="let a of x">
            <p>Name</p>
            
        </div>
        <div class="col-md-3">
                <p>Imtiaz</p> 
                
        </div>
        <div class="col-md-3">
                <p>Chase Up</p>    
        </div>
        <div class="col-md-3">
                <p>Chase</p>         
        </div>
    </div>
</div>

<div class="container">
        <h2>Price Table </h2>
        <!-- <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>             -->
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Imtiaz</th>
              <th>Chase</th>
              <th>Chaseup</th>
            </tr>
          </thead>
          

          <tbody >
            
                    <tr id="myTr">
                            
                            <div id='child'></div>
                            </tr>
              

            <br>
          </tbody>
        </table>
      </div>